@import "tailwindcss";


.user-theme {
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}