@import "tailwindcss";


.user-theme {
  background-color: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scroll {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (hidden by default) */
.custom-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  transition: background 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

/* Show thin premium thumb on hover/scroll */
.custom-scroll:hover::-webkit-scrollbar-thumb,
.custom-scroll:active::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(59, 130, 246, 0.8),
    rgba(147, 51, 234, 0.8)
  );
  opacity: 1;
}

/* Firefox show on hover */
.custom-scroll:hover {
  scrollbar-color: rgba(255,255,255,0.35) transparent;
}